body {
  background: url('table.png') no-repeat;
  width: 700px;
  height:1000px;
}
div[class^="card"] {
  width: 80px;
  height: 110px;
  position: absolute;
  border: 1px black solid;
  border-radius: 10px;
  background-image: url("cards.jpg");
  animation-name: move-card;
  animation-duration: 2s;
  /*transition:transform 1s linear;*/
}
.card1 {
  left: 400px;
  top: 350px;
  /*background-position: -706px -5px;*/
}
.card2 {
  left: 425px;
  top: 375px;
  /*background-position: 2008px -5px;*/
}
.card3 {
  left: 400px;
  top: 100px;
  /*background-position: -706px -128px;*/
}
.card4 {
  left: 425px;
  top: 125px;
  /*background-position: 2008px -128px;*/
}
.card5 {
  left: 550px;
  top: 350px;
  /*background-position: -706px -128px;*/
}
.card6 {
  left: 575px;
  top: 375px;
  /*background-position: 2008px -128px;*/
}
.scores {
  position: absolute;
  background: rgba(255, 255, 0, 0.8);
  left: 550px;
  top: 250px;
  border: 2px red solid;
  padding: 3px;
  width: 100px;
  height: 36px;
}
.dealerScoreBox {

}
@keyframes move-card {
  0% {
    left: 800px;
    top: 0px;
    transform: rotateZ(90deg);
  }
  15% {
    transform: rotateZ(720deg);
  }
  25% {
    transform: rotateZ(90deg);
  }
  40% {
    transform: rotateZ(720deg);
  }
  50% {
    transform: rotateZ(90deg);
  }
  60% {
    transform: rotateZ(720deg);
  }
  75% {
    left:200px;
    top:200px;
    transform: rotateZ(90deg);
  }
  80% {
    transform: rotateZ(720deg);
    /*transform: scale(1.5);*/
  }
  100% {
    transform: rotateZ(90deg);
  }
}
